@model OutputDataFile

<h1>Data in file @(Model.Name)</h1>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Original data
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr class="row">
                            <th class="col-6">Message</th>
                            <th class="col-1">Level</th>
                            <th class="col-2">Timestamp</th>
                            <th class="col-1">Application</th>
                            <th class="col-1">Reference</th>
                            <th class="col-1">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LogRecords)
                        {
                            <tr class="row">
                                <td class="col-6">
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td class="col-1">
                                    @Html.DisplayFor(modelItem => item.LevelString)
                                </td>
                                <td class="col-2">
                                    @Html.DisplayFor(modelItem => item.ExactTimestamp)
                                </td>
                                <td class="col-1">
                                    @Html.DisplayFor(modelItem => item.Application)
                                </td>
                                <td class="col-1">
                                    @Html.DisplayFor(modelItem => item.Reference)
                                </td>
                                <td class="col-1">
                                    @Html.DisplayFor(modelItem => item.Operation)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Performance data
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Record No</th>
                            <th>BC size [mod]</th>
                            <th>BC size [px]</th>
                            <th>BC size [mm]</th>
                            <th>Mod size [px]</th>
                            <th>Mod size [mm]</th>
                            <th>Px/mm</th>
                            <th>Image Generation [ms]</th>
                            <th>Image Loading [ms]</th>
                            <th>Barcode Reading [ms]</th>
                            <th>Total [ms]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AnalysisRecords)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecordNumber)
                                </td>
                                <td>
                                    @($"{item.BarcodeWidthMod}x{item.BarcodeHeightMod}")
                                </td>
                                <td>
                                    @($"{item.BarcodeWidthPx}x{item.BarcodeHeightPx}")
                                </td>
                                <td>
                                    @($"{item.BarcodeWidthMm:0.00}x{item.BarcodeHeightMm:0.00}")
                                </td>
                                <td>
                                    @($"{item.ModuleWidthPx:0.00}x{item.ModuleHeightPx:0.00}")
                                </td>
                                <td>
                                    @($"{item.ModuleWidthMm:0.00}x{item.ModuleHeightMm:0.00}")
                                </td>
                                <td>
                                    @($"{item.PixelMmRatioX:0.00}x{item.PixelMmRatioY:0.00}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageGenerationTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageLoadingTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BarcodeReadingTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalTime)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Performance data graphs
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <img src="/LogAnalysis/TimeSeries?name=@(Model.Name)" />
                <img src="/LogAnalysis/Distribution?name=@(Model.Name)" />
            </div>
        </div>
    </div>
</div>












